body {font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
font-weight: bolder;
font-size:30px;}
#body1{background:#EAE9E9;}
#body2{background:#B7CADB;}
#body3{background:#C1A3A3;}
#body4{background:#D3E4CD;}
#body5{background:#FEECE9;}
#body6{background:#CCD1E4;}
#body7{background:#9D9D9D;}
#body8{background:#B4CFB0;}
#body9{background:#C6D57E;}
#body10{background:#E8D0B3;}



#center{margin-top: 20%;}
h1{color: darkblue;}
h2{color: darkgoldenrod;}
h3{color: darkgreen;}
h4{color: darkred;}
h5{color: darkmagenta;}
h6{color: darkorange;}
.fav{color:darkgreen;}
.line {background:goldenrod; height:3px;}
#line {background:goldenrod; height:3px;}


#p1{color:#02475E ; }
#p2{color:#FFD32D ; }
#p3{color:#D885A3 ; }
#p4{color:#D82148 ; }
#p5{color:#357C3C ; }
#p6{color:#781C68 ; }
#p7{color:#A267AC ; }
#p8{color:#4B8E8D ; }
#p9{color:#E60965 ; }
#p10{color:#2C061F ; }
#p11{color:#064635 ; }
#p12{color:#db456f ; }
#p13{color:#570530 ; }
#p14{color:#394867 ; }
#p15{color:#595260 ; }

input, select, button{width:90%; font-size:20px;}
section{display: flex;justify-content:space-between; width: 90%; font-size:20px;}
.divForm,.divTable {  padding: 10px 15px;}
.divTable{margin-left:8%; width: 30%;border: 2px darkred solid;}
td{margin-left:4px; padding-left:8px; border: 2px #00f solid;}
tr{border: 2px #61f solid;}

fieldset{ border:#570530 4px inset}


fieldset input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(204, 204, 204, 0.336);}

.btn-mform{
    border-radius: 8px;
    border: #781C68 2px groove; 
    background: ;
}
.btn-mform:hover{
    border: #570530 2px inset;
}


.dvimg {
   width:350px;
    height:300px ; 
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQbxn3OjdSo-QIgzZ52YY3abhFCZYCYzmZFw&usqp=CAU");
   background-repeat:no-repeat;
padding:20px;
border-top-left-radius:28px ;
}
.h1def{color:darkred;
font-size:20px;
display: inline-flex; }


.none{list-style-position: inside;}


@media  { body{text-align: center;}
}

@media (min-width: 320px)and (max-width : 420px){
    .container{width: 80%;    font-size: 20px;}
      dt{margin-bottom: 30px;}
      section{display: grid;}
  }
  @media (min-width: 422px)and (max-width : 560px){
      .container{width: 80%;    font-size: 22px;}
      dt{margin-bottom: 30px;}
      section{display: grid;}
  
  }